{% extends "base.html" %}
{% block content %}
<div id="case_script_name">
    <span>测试用例:</span>
    <span><label id="lbl_test_case_name">{{ test_case_name }}</label></span>
</div>
<div id="case_file_upload">
<span>
<form action="EditCase" method="POST" enctype="multipart/form-data">
    <input type="submit" name="submit" value="上传压缩包" />
    <input type="hidden" name="fileType" value="TAR" />
    <input name="fileUpLoad" type="file" id="tar_file" />
</form>
</span>
</div>
<div>
    <span>用例脚本:</span><span>{{ script_file }}</span><br/>
    <span>部署文件:</span><br/>
    <ul>
    {% for tar in tars %}
      <li>{{ tar }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <button onclick="resolve_query_dict();">解析查询条件</button>
</div>
<div>
    <textarea id="test_case_resolve" style="position: relative; height:60vh; width: 100%;"></textarea>
</div>

<script type="text/javascript">
    function resolve_query_dict(){
        //console.log("test called");
        var test_case_name = document.getElementById("lbl_test_case_name").textContent;
        //console.log(test_case_name);
        $.post("/testcase/scripts/"+test_case_name+".py",{arg:'resolve_query_dict'},function(result){
            $("#test_case_resolve").html(result);
            //alert(test_case_name)
        });
    };
</script>
{% endblock %}