{% extends "base.html" %}
{% block head %}
        <style type="text/css">
            .v_div_1
            {
                float:left;
                width:50%;
                height:100;
            }
        </style>
{% endblock %}
{% block content %}
<div class="v_div_1" id="static_test_case">
    <div id="case_script_name">
    <span>测试用例:</span>
    <span><label id="lbl_test_case_name">{{ test_case_name }}</label></span>
    </div>
    <div id="case_file_upload">
    <form action="EditCase" method="POST" enctype="multipart/form-data" >
        <input type="submit" name="submit" value="上传压缩包" />
        <input name="fileUpLoad" type="file" id="tar_file" />
    </form>
    </div>
    <div>
        <button onclick="resolve_script('resolve','query');">解析查询条件 （⊙-⊙）</button>
    </div>
    <div>
        <button onclick="resolve_script('resolve','deploy');">解析部署设置 （⊙-⊙）</button>
    </div>
    <div>
        <button onclick="resolve_script('resolve','steps');">解析执行步骤 （⊙-⊙）</button>
    </div>
    <div>
        <button onclick="resolve_script('resolve','shells');">查看shell脚本内容（⊙-⊙）</button>
    </div>
    <div>
        <textarea id="test_case_resolve" style="position: relative; height:40vh; width: 95%;" readonly="readonly"></textarea>
    </div>
    <div>
    <ul>
        <li><span>用例脚本:</span><span>{{ script_file }}</span><br/></li>
        <li><span>部署文件:</span>
            {% for tar in tars %}
              {{ tar }}
            {% endfor %}
        </li>
    </ul>
    </div>
</div>

<div class="v_div_1" id="running_test_task">
    <div id="task_name">
        <span>测试任务名称:</span>
        <span><label id="lbl_task_name">{{ task_name }}</label></span>
        <span>测试任务ID:</span>
        <span><label id="lbl_task_id">{{ task_id }}</label></span>
    </div>
    <div id="new_task">
        <input type="text" name="task_name" id="task_name_input" />
        <button onclick="new_task();">新建任务</button>
    </div>
    <div>
        <button onclick="operate_script('execute','query');">查询  (`･_･`)ノ</button>
        <button onclick="operate_script('execute','release');">释放查询到的设备  (`･_･`)ノ</button>
    </div>
    <div>
        <button onclick="operate_script_async('execute','deploy');">部署  (´･_･`)ノ</button>
        <button onclick="operate_script('execute','shells');">查看特化脚本  （⊙-⊙）</button>
    </div>
    <div>
        <button onclick="start();" id='btn_start_pause'>开始</button>
        <button onclick="stop();" id='btn_stop' disabled="true">停止</button>
    </div>
    <div>
        <button onclick="operate_script_async('execute','log');" id='btn_upload_log'>上传日志(´･_･`)ノ</button>
        <button onclick="operate_script('execute','viewlog');" id='btn_view_log'>查看日志（⊙-⊙）</button>
    </div>
    <div>
        <textarea id="test_task_status" style="position: relative; height:40vh; width: 95%;" readonly="readonly"></textarea>
    </div>
</div>

<script type="text/javascript">
    function null_val(val){
        if (typeof(val)=="undefined" || val==null || val=="")
        {
            return true;
        }
        else
        {
            return false;
        }
    }
    function new_task(){
        var task_name = $('#task_name_input').val();
        var test_case_name = document.getElementById("lbl_test_case_name").textContent;
        if (null_val(task_name))
        {
            alert("no task name assigned!");
            return;
        }
        if (null_val(test_case_name))
        {
            alert("no test case assigned!");
            return;
        }
        url="/testcase/scripts/newtask"
        $.post(url, {test_case_name:test_case_name, task_name:task_name}, function(result){
            var task_id = parseInt(result, 10);
            if (task_id > 0){
                $("#lbl_task_name").html(task_name);
                $("#lbl_task_id").html(result);
            }
            else
            {
                alert("新建任务失败！")
            }
        });
    };
    function resolve_script(operation, content_name){
        var test_case_name = document.getElementById("lbl_test_case_name").textContent;
        url="/testcase/scripts/" + operation + "/" + content_name
        $.post(url,{test_case_name:test_case_name},function(result){
            $("#test_case_resolve").html(result);
        });
    };
    function check_operation_fields(){
         var test_case_name = document.getElementById("lbl_test_case_name").textContent;
         var task_id = document.getElementById("lbl_task_id").textContent;
         var task_name = document.getElementById("lbl_task_name").textContent;
        if (null_val(test_case_name)){
            alert("请输入测试用例!");
            return false;
        }
        if (null_val(task_name)){
            alert("请输入测试任务名称!");
            return false;
        }
        if (null_val(task_id)){
            alert("请先新建测试任务!");
            return false;
        }
        return true;
    }
    function operate_script(operation, content_name){
        if (check_operation_fields()){
            var test_case_name = document.getElementById("lbl_test_case_name").textContent;
            var task_id = document.getElementById("lbl_task_id").textContent;
            url="/testcase/scripts/" + operation + "/" + content_name
            $.post(url,{test_case_name:test_case_name, task_id:task_id},function(result){
                $("#test_task_status").html(result);
            });
        }
    };
    function stop(){
        operate_script_async('execute','stop','NOT RUNNING,FINISHED');
        document.getElementById("btn_start_pause").innerHTML = '开始'
        document.getElementById('btn_stop').disabled = true
    }
    function start(){
        var text = document.getElementById("btn_start_pause").textContent;
        function start_callback(status){
            if (status == 'FINISHED' || status == 'NOT RUNNING') {
                // disable stop
                document.getElementById('btn_stop').disabled = true
                document.getElementById("btn_start_pause").innerHTML = '开始'
            } else if (status == 'PAUSED') {
                document.getElementById('btn_start_pause').innerHTML = '继续';
            }
        }
        if (text=='开始'){
            // enable stop
            document.getElementById('btn_stop').disabled = false
            operate_script_async('execute','start','FINISHED', start_callback);
            document.getElementById("btn_start_pause").innerHTML = '暂停'
        }
        else if (text == '暂停'){
            operate_script_async('execute','pause','PAUSED,FINISHED', start_callback);
            document.getElementById('btn_start_pause').innerHTML = '继续'
        }
        else if (text == '继续'){
            operate_script_async('execute','resume','FINISHED', start_callback);
            document.getElementById('btn_start_pause').innerHTML = '暂停'
        }
    }
    function operate_script_async(operation, content_name, expected_result, callback){
        if (check_operation_fields()){
            var test_case_name = document.getElementById("lbl_test_case_name").textContent;
            var task_id = document.getElementById("lbl_task_id").textContent;
            url="/testcase/scripts/" + operation + "/" + content_name
            $.post(url,{test_case_name:test_case_name, task_id: task_id},function(result){
                var dict = JSON.parse(result)
                var stop = dict['stop']
                var content = dict['content']
                var token = dict['token']
                if (!null_val(content)){
                    $("#test_task_status").html(content);
                }
                if (!null_val(stop)){
                    if (stop == 'false')
                    {
                        if (null_val(token))
                        {
                            token = ""
                        }
                        var interval_id = setInterval(function(){
                            url = "/testcase/scripts/" + 'check' + "/" + content_name + "?task_id=" + task_id + "&test_case_name="+test_case_name+"&content_name="+content_name+"&expected_result="+expected_result+"&token="+token;
                            $.get(url, function(result){
                                var dict = JSON.parse(result)
                                var stop = dict['stop']
                                var content = dict['content']
                                token = dict['token']
                                $("#test_task_status").html(content)
                                if (stop=='true')
                                {
                                    clearInterval(interval_id);
                                    if (callback)
                                    {
                                        callback(dict['callback']);
                                    }
                                }
                            });
                        }, 1000);
                    }
                } else {
                    if (callback)
                    {
                        callback(dict['callback'])
                    }
                }
            });
        }
    }

</script>
{% endblock %}