{% extends "base.html" %}
{% block content %}
<div id="case_script_name">
    <span>测试用例:</span>
    <span><label id="lbl_test_case_name">{{ test_case_name }}</label></span>
</div>
<div id="case_file_upload">
<span>
<form action="EditCase" method="POST" enctype="multipart/form-data">
    <input type="submit" name="submit" value="上传压缩包" />
    <input type="hidden" name="fileType" value="TAR" />
    <input name="fileUpLoad" type="file" id="tar_file" />
</form>
</span>
</div>
<div>
<ul>
    <li><span>用例脚本:</span><span>{{ script_file }}</span><br/></li>
    <li><span>部署文件:</span>
        {% for tar in tars %}
          {{ tar }}
        {% endfor %}
    </li>
</ul>

</div>
<div>
    <button onclick="operate_script('resolve','query');">解析查询条件 （⊙-⊙）</button>
    <button onclick="operate_script('execute','query');">查询  (´･_･`)ノ</button>
    <button onclick="operate_script('execute','release');">释放查询到的设备  (´･_･`)ノ</button>
    <button onclick="operate_script('resolve','deploy');">解析部署设置 （⊙-⊙）</button>
    <button onclick="operate_script_async('execute','deploy');">部署  (´･_･`)ノ</button>
    <button onclick="operate_script('resolve','steps');">解析执行步骤 （⊙-⊙）</button>
    <button onclick="operate_script_async('execute','steps');">按步骤执行测试  (´･_･`)ノ</button>
</div>
<div>
    <textarea id="test_case_resolve" style="position: relative; height:60vh; width: 100%;" readonly="readonly"></textarea>
</div>

<script type="text/javascript">
    function operate_script(operation, content_name){
        var test_case_name = document.getElementById("lbl_test_case_name").textContent;
        url="/testcase/scripts/" + operation + "/" + content_name
        $.post(url,{test_case_name:test_case_name},function(result){
            $("#test_case_resolve").html(result);
        });
    };
    function operate_script_async(operation, content_name){
        var test_case_name = document.getElementById("lbl_test_case_name").textContent;
        url="/testcase/scripts/" + operation + "/" + content_name
        $.post(url,{test_case_name:test_case_name},function(result){
            console.log("interval")
            var dict = JSON.parse(result)
            var task_id = dict['task_id']
            setInterval(function(){
                console.log("called")
                url = "/testcase/scripts/" + operation + "/" + content_name + "?task_id=" + task_id + "&test_case_name="+test_case_name
                $.get(url, function(result){});
            }, 5000);        });
            $("#test_case_resolve").html(result);
    }

</script>
{% endblock %}